
body{
	margin:0;
	
}

.wrapper{
	width: 80%;
	margin: auto;

}

.header{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.logo, .menu{
	display: inline-block;
	
}

.logo{
	font: bold 24px/31px 'pt_serifregular', arial, helvetica, sans-serif;
	padding-left: 44px;
	position: relative;
	/*width: 190px;
	height: 35px;
	background: url('img/logo.svg');*/
}
.logo__circle{
	width: 28px;
	height: 28px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo__circle_color_blue{
	left: 8px;
	top: 76%;
	background: #C8DBFB;
	border-radius: 50%;
	opacity: 0.7;
}


.logo__circle_color_dark-blue{
	border-radius: 50%;
	background: #0056EC;
    opacity: 0.7;
}

.menu{
	display: flex;
	align-items: center;
	font-family: 'robotoregular', arial, helvetica, sans-serif;
}
.menu__item{
	padding: 0 13px;
}

.menu__item:last-child{
	padding-right: 0;
}

.main-content__title{
	font-family: 'pt_serifregular', arial, helvetica, sans-serif;
}

.main-content__description{
	font-family: 'robotoregular', arial, helvetica, sans-serif;
}